/*стили меню, фото на всех страницах*/
.menu {
  display: block;
  width: 100%;
  background-color: #00a8a8;
  padding: 10px 20px;
  text-align: left;
  margin: 6px auto;
  border-radius: 10px;
}
/*стили кнопок меню, на всех страницах*/
.menu button
{
  vertical-align: middle;
  border: none;
  height: 40px;
  color: white;
  background-color: #00a8a8;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
 /*выделение кнопки при наведении*/
.menu button:hover {
    background-color: #00c0c0;
}
/*обрезка фото*/
.big_avka {
  object-fit: cover;
  object-position: center;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin: 5px 5px;
  max-width: 100%;
  max-height: 100%;
}

.icon {
  object-fit: cover;
  object-position: center;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin: 1px 1px;
}

.div {
  padding: 0px;
  align-items: center ;
  vertical-align: middle;
}

/*вертикальная центоровка надписей*/
.cell-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0px;
  margin-right: 0px;
}

.cell-center-b {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0px;
  margin-right: 28px;
}

/**/
.num_icon {
  background-color: #00a8a8;
  color: white;
}

.imp_button {
  background-color: #ff8822;
  color: white;
}
