/*стили меню, на всех страницах*/
.menu {
  align: center;
  display: block;
  width: 97%;
  background-color: #ffb145; /* light orange */
  padding: 10px 20px;
  text-align: left;
  margin: 5px;
  border-radius: 10px;
}

/*стили кнопок меню, на всех страницах*/
.menu button
{
  vertical-align: middle;
  border: none;
  height: 40px;
  color: white;
  background-color: #ffb145; /*light orange+peach*/
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

 /*выделение кнопки при наведении*/
.menu button:hover {
    background-color: #c40024; /* dark red+pink */
}

/*обрезка фото*/
.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin: 5px 5px;
}

input
{
  height: 20px;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 20px;
  font-size: 16px;
  border: none;
}

input[type="text"], input[type="password"]
{
  text-indent: 5px;
}
