form, .reg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: center;
  border-radius: 10px;
  background-color: #00a8a8;
}

.button {
  margin: 12px;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.reg {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
