/*стили настроек*/
.par-sett {
  border-radius: 10px;
  background-color: #c5efee; /*light blue*/
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.par-sett form {
  display: block;
  width: 50%;
}

input {
  height: 36px;
  vertical-align: middle;
  border-radius: 5px;
  margin: auto;
  max-width: 600px;
  font-size: 16px;
  border: none;
}

input[type="text"], input[type="password"] {
  text-indent: 5px;
}

.wishes_input {
  width:800px;
  height:50px;
}

input[type="submit"] {
  background-color: #ffb145;
  color: white;
  font-weight: bold;
  align-self: center;
}
